<div class="footer">
	<div class="footer_sub">
		<div class="profile_widgets group1">
			{{widget('profile', 'w_profile_1', { 'profileType':'socialicons' })|raw}}
		</div>

		<div class="profile_widgets group2">
			{{widget('profile', 'w_profile_3', { 'profileType':'strapline' })|raw}}
		</div>

		<div class="company">
			{{widget('companyname', 'w_companyname', {"business": "profile", "align":"center"})|raw}}
		</div>
	</div>
</div>
